@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="~/css/all.min.css" rel="stylesheet" />
    <title>Airbnb</title>
    <link href="~/css/home.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />

</head>
<body>
    <nav class="navbar">
        <div class="container">
            <div class="row navbar-wrapper">
                <div class="col-md-4 col-sm-4 d-flex justify-content-start">
                    <a class="w-25" href="#">
                        <img src="~/Images/Airbnb_Logo_Bélo.svg.png" alt="logo" class="img-fluid">
                    </a>
                </div>
@*                <div class="offset-md-4 col-md-2 d-flex justify-content-end">

                </div>*@
                <div class="col-md-8 col-sm-8 d-flex justify-content-end">
                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {
                        <div class="align-items-center d-flex mx-3">
                            <a class="btn btn-outline-dark " asp-action="Index" asp-controller="Admin">Admin Dashboard</a>
                        </div>
                    }
                    <div class="btn-group">
                        <button type="button" class="btn btn-danger dropdown-toggle custom-toggle-dropdown shadow-sm" data-bs-toggle="dropdown" aria-expanded="false">
                            <div class="dropdown-container d-flex justify-content-between">
                                @if ( SignInManager.IsSignedIn(User) &&UserManager .GetUserAsync(User).Result.Photo!="")
                                {
                                    <img  class=" "  />
                                    <img src="~/Images/UsersPhoto/@UserManager.GetUserAsync(User).Result.Photo" alt="user photo" class="img-fluid rounded-circle img-dropdown">
                                    <p class="mb-0 d-none d-sm-block navbar-profile-name">@UserManager.GetUserAsync(User).Result.Email</p>
                                }
                                else
                                {
                                    <img class="img-fluid rounded-circle img-dropdown" src="~/Images/UsersPhoto/blank-profile-picture-973460_1280.webp" alt="">
                                }
                                <i class="fa-solid fa-bars fa-sm dropdown-icon"></i>
                            </div>
                        </button>
                        <ul class="dropdown-menu dropdown-list shadow p-3 rounded">
                            @if (!SignInManager.IsSignedIn(User))
                            {
                                <li>
                                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Login">Login</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Register">Register</a>
                                </li>
                            }
                            else
                            {
                                <li><a class="dropdown-item" href="./Messages.html">Messages</a></li>
                                <li><a class="dropdown-item" asp-action="Index" asp-controller="ManageListing">Manage Listing</a></li>
                                <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Profile</a></li>

                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout">Logout</a>
                                </li>
                                <li><a class="dropdown-item" href="#">Separated link</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr class="w-100 custom-hr-nav">
    </nav>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="./js/Home.js"></script>
    <script src="https://kit.fontawesome.com/9a2d4d0470.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>