@model MansionCategory

<form method="post" asp-action="AddCategory">
    <div class="input-group mb-3">
        <input type="text" asp-for="Name" class="form-control" placeholder="Category Name..." />
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Add New Category</button>
        </div>
    </div>
    <span asp-validation-for="Name" class="text-danger"></span>
</form>