@model IEnumerable<Mansion>
@{
    ViewData["Title"] = "MansionState";
    Layout = "~/Views/Shared/LayoutAirbnb.cshtml";
}

<h1>Mansion State</h1>

<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th scope="col">Client Name</th>
            <th scope="col">Mansion Title</th>
            <th scope="col">Check In</th>
            <th scope="col">Check Out</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var mansion in @Model)
        {
            <tr>
                <th scope="row">@mansion.User.Email</th>
            </tr>
        }
    </tbody>
</table>