.icon-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*.fa-solid {
    font-size: x-large !important;
}*/

.category-name {
    color: gray;
    text-decoration: none;
}

    .Active,
    .Active:hover,
    .category-name:hover {
        color: gray;
        border-bottom: 2px solid lightgray;
        padding-bottom: 15px;
        text-decoration: none;
    }

.category-namea:active {
    color: black;
    border-bottom: 2px solid black;
    padding-bottom: 15px;
}

.mansion-image {
    min-height: 15rem;
    max-height: 15rem;
    border-radius: 10px;
}

.info-title {
    padding: 0;
    margin: 0;
}

.gray {
    color: gray;
}

.slide-img-fix img {
    height: 300px;
    max-height: 300px;
    object-fit: cover;
}
